body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 60pt;
    font-weight: 900;
}

#page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#books-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book {
    display: block;
    border-radius: 10px;    
    border: 4px solid #3E3E3E;
    padding: 15px 25px;
    margin: 0 10px 20px 0;    
}

.book, .new-book {    
    width: 200px;
    min-height: 100px;
    margin: 0 10px 20px 0; 
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;    
}

.book:hover,.new-book:hover {
    transform: scale(1.05);
}

.book__name {
    font-size: 15pt;
    font-weight: 900;
}

.book__year {
    font-size: 12pt;
    font-weight: 200;
}

.new-book {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #3E3E3E;
    color: white;
    font-size: 12pt;
    font-weight: 800;
}

